# 시작하기(001 ~ 010)

In [ ]:
# 001 print
print('hello world')

In [ ]:
# 002 print
print("Mary's cosmetics")

In [ ]:
# 003 print
print('신씨가 소리질렀다. "도둑이야"')

In [ ]:
# 005 print - \n, \t
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n은 줄바꿈, \t는 탭

In [ ]:
# 006 print - 여러 데이터 출력
print("오늘은","일요일")

In [ ]:
# 007 print - sep
print("naver","kakao","sk","samsung", sep=" ; ")

In [ ]:
# 008 print - sep
print("naver","kakao","sk","samsung", sep="/")

In [ ]:
# 009 print - end
print("fist", end=""); print("second")

In [ ]:
# 010 print - 연산
print(5/3)

# 변수(011 ~ 020)

In [ ]:
# 011 변수 - 할당
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

In [ ]:
# 012 변수 - 할당
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

In [ ]:
# 013 문자열 출력
s = "hello"
t = "python"
print(s+"!", t)

In [ ]:
# 014 파이썬을 이용한 값 계산
2+2*3

In [ ]:
# 015 type 함수
a = 128
print(type(a))

In [ ]:
# 016 문자열을 정수로 변환
num_str = 720
str(num_str)
print(str(num_str), type(str(num_str)))

In [ ]:
# 017 정수를 문자열 100으로 변환
num = 100
str_num= str(num)
print(str_num, type(str_num))

In [ ]:
# 018 문자열을 실수로 변환
num = "15.79"
f_num = float(num)
print(f_num, type(f_num))

In [ ]:
# 019 문자열을 정수로 변환
year = '2020'
int_year = int(year) 
print(int_year)
print(int_year +1)
print(int_year +2)

In [ ]:
# 020 파이썬 계산
montly = 48584
price = montly * 36
print(price)

# 문자열(021 ~ 050)

In [ ]:
# 021 문자열 인덱싱
letters = 'python'
print(letters[0],letters[2])

In [ ]:
# 022 문자열 슬라이싱
license_plate = "24가 2210"
print(license_plate[-4:])

In [ ]:
# 021 문자열 인덱싱 - 홀수번째

# 시작인덱스:끝인덱스:오프셋(얼만큼떨어질거냐)
string = "홀짝홀짝홀짝"
print(string[::2])

In [ ]:
# 024 문자열 슬라이싱 - 거꾸로
string = 'PYTHON'
print(string[::-1])

In [ ]:
# 025 문자열 치환
phone_number = "010-1111-2222"
print(phone_number.replace("-"," "))

In [ ]:
# 026 문자열 다루기
phone_number = "010-1111-2222"
print(phone_number.replace("-",""))

In [ ]:
# 027 문자열 다루기
url = "http://sharebook.kr"
print(url[-2:]) # 슬라이싱 이용
url_split = url.split(".")
print(url_split[1]) # split 이용

In [ ]:
# 028 문자열은 immutable
lang = 'python'
lang[0] = 'p'
print(lang)
# 문자열은 할당매서드를 지원하지 않으므로 수정 할 수 없음.

In [ ]:
# 029 replace 메서드
string = 'abcdfe2a354a32a'

print(string.replace("a","A"))

In [ ]:
# 030 replace 메서드
string = 'abcd'
string.replace('b','B')
print(string)

In [ ]:
# 031 문자열 합치기
a = "3"
b = "4"
print(a+b, type(a+b))

In [ ]:
# 032 문자열 곱하기
print("Hi"*3)

In [ ]:
# 033 문자열 곱하기
print("-" * 80)

In [ ]:
# 034 문자열 곱하기
t1 = 'python'
t2 = 'java'
print((" "+ t1 + " " + t2)*4)

In [ ]:
# 35 문자열 출력
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름 : %s 나이 : %d" % (name1, age1))
print("이름 : %s 나이 : %d" % (name2, age2))

In [ ]:
# 036 문자열 출력
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름 : {} 나이 : {}'.format(name1,age1))
print('이름 : {} 나이 : {}'.format(name2,age2))

In [ ]:
# 037 문자열 출력
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f'이름 : {name1} 나이 : {age1}')
print(f'이름 : {name2} 나이 : {age2}')

In [ ]:
# 038 컴마 제거하기
상장주식주 = "5,969,782,550"
제거 = int(상장주식주.replace(",",""))
print(제거, type(제거))

In [ ]:
# 039 문자열 슬라이싱
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

In [ ]:
# 040 strip 메서드
data = "   삼성전자   "
data2 = data.strip()
print(data, len(data))
print(data2, len(data2))

In [ ]:
# 041 upper 메서드
ticker = "btc_krw"
print(ticker.upper())

In [ ]:
# 042 lower 메서드
ticker = "BTC_KRW"
print(ticker.lower())

In [ ]:
# 043 capitalize 메서드
string  = "hello"
print(string.capitalize())

In [ ]:
# 044 endswith 메서드
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

In [ ]:
# 045 endswith 메서드
file_name = "보고서.xlsx"
file_name.endswith(("xlsx","xls")) # 끝자리가 xlsx 또는 xls로 끝나는지 확인

In [ ]:
# 046 startswith 메서드
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

In [ ]:
# 047 split 메서드
a = "hello world"
a.split() # 공백을 기준으로 나누기

In [ ]:
# 048 split 메서드
ticker = "btc_krw"
ticker.split("_")

In [ ]:
# 049 split 메서드
date = "2020-05-01"
year = date.split("-")[0]
month = date.split("-")[1]
day = date.split("-")[2]
print(year, month, day)

In [ ]:
# 050 rstrip 메서드
data = "039490     "
data.rstrip()

# 리스트(051 ~ 070)

In [ ]:
# 051 리스트 생성
영화 = ['닥터 스트레인지', '스플릿', '럭키']
영화

In [ ]:
# 052 리스트에 원소 추가
영화.append('배트맨')
영화

In [ ]:
# 053 insert 
영화 = ['닥터 스트레인지', '스플릿', '럭키']
영화.insert(1,"슈퍼맨")

영화

In [ ]:
# 054
# 051 리스트 생성
영화 = ['닥터 스트레인지', '스플릿', '럭키']
영화.remove('럭키')
영화

In [ ]:
# 055
영화 = ['닥터 스트레인지', '스플릿', '럭키']
del 영화[1]
영화

In [ ]:
# 056
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
langs

In [ ]:
# 057
nums = [1,2,3,4,5,6,7]
print(max(nums))
print(min(nums))

In [ ]:
# 058
nums = [1,2,3,4,5]
print(sum(nums))

In [ ]:
# 059 리스트에 저장된 데이터 개수 구하기
cook = ["피자", "김밥", "만두", "양념치킨", "족발", 
        "피자", "김치만두", "쫄면", "소시지", "라면",
        "팥빙수", "김치전"]

print(len(cook))

In [ ]:
# 060 리스트의 평균
nums = [1, 2, 3, 4, 5]
average = sum(nums)/len(nums)
print(average)

In [ ]:
# 061
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

In [ ]:
# 062 홀수번째 출력
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

In [ ]:
# 063
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

In [ ]:
# 064
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

In [ ]:
# 065
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

In [ ]:
# 066 join 메서드
interest = ['삼성전자', 'LG전자', 'Naver','SK하이닉스', '미래에셋대우']
print(" ".join(interest))

In [ ]:
# 067 join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

In [ ]:
# 068 join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

In [ ]:
# 069 문자열 split 메서드
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

In [ ]:
# 070 리스트 정렬
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

# 튜플(071 ~ 080)

In [ ]:
# 071 튜플만들기
my_variable = ()
print(my_variable, type(my_variable))

In [ ]:
# 072
move_name = ('닥터 스트레인지','스플릿','럭키')
print(move_name, type(move_name))

In [ ]:
# 073
num = (1,)
string = ("가",)
print(num, type(num)) # 하나의 데이터가 저장되는 경우 , 입력해야 tuple로 인식
print(string, type(string))

In [ ]:
# 074 튜플은 원소값을 변경할 수 없다.
t = (1, 2, 3)
t[0] = 'a'

In [ ]:
# 075 데이터를 그냥 저장하면 일반적으로 튜플로 인식
t = 1, 2, 3, 4
print(type(t))

In [ ]:
# 076 튜플은 값을 변경 불가 -> 새로 생성
t = ('a', 'b', 'c')
t = ('A','b','c')

In [ ]:
# 077 튜플을 리스트로 변경
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
print(data, type(data))

In [ ]:
# 078
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
print(data, type(data))

In [ ]:
# 079 튜플 언팩킹
temp = ('apple', 'banana', 'cake')
a, b, c = temp # 값과 변수의 개수가 맞아야 한다.
print(a, b, c)

In [ ]:
# 080 range 함수
data = tuple(range(2, 100,2))
print(data)

# 딕셔너리(081 ~ 100)

In [ ]:
# 081 별 표현식 / 변수의 개수에 맞춰서 값이 할당됨
a, b, *c = (0, 1, 2, 3, 4, 5)
print(a)
print(b)
print(c)

In [ ]:
# 082 별 표현식
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7,
          9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores

print(a)
print(b)
print(valid_score)

In [ ]:
# 083
scores = [8.8, 8.9, 8.7, 9.2, 9.3,
          9.7, 9.9, 9.5, 7.8, 9.4]

a, *valid_score, c = scores
print(a)
print(valid_score)
print(c)

In [ ]:
# 084 딕셔너리 생성
temp = {}
print(type(temp))

In [ ]:
# 085 딕셔너리 만들기
ice = {'메로나':1000,'폴라포':1200, '빵빠레':1800}
print(ice)

In [ ]:
# 086 딕셔너리에 값 추가하기
ice['조스바'] = 1200
ice['월드콘'] = 1500
print(ice)

In [ ]:
# 087 딕셔너리 출력하기
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print('메로나 가격 : ',ice['메로나'])

In [ ]:
# 088
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice['메로나'] = 1300 # 메로나 가격 수정
print(ice)

In [ ]:
# 089
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice['메로나'] # 메로나 삭제
print(ice)

In [ ]:
# 090 에러가 나는 유형
>> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
>> icecream['누가바'] # 없는 키를 이용하여 인덱싱 했기 때문

In [ ]:
# 091 딕셔너리 생성 with 리스트
ice = {'메로나':[300,200], '비비빅':[400,3], '죠스바':[250,100]}
print(ice)

In [ ]:
# 092 딕셔너리 인덱싱
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory['메로나'][0])

In [ ]:
# 093 딕셔너리 인덱싱
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory['메로나'][1])

In [ ]:
# 094 딕셔너리 추가
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory['월드콘'] = [500,70]
inventory

In [ ]:
# 095 딕셔너리 keys() 메서드
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ice_list = list(icecream.keys())
ice_list

In [ ]:
# 096 딕셔너리 values() 메서드
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice_list = list(icecream.values())
ice_list

In [ ]:
# 097 딕셔너리 values() 메서드
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice_sum = sum(icecream.values())
ice_sum

In [ ]:
# 098 딕셔너리 update 메서드
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
icecream

In [ ]:
# 099 zip과 dict 
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys,vals))
result

In [ ]:
# 100 zip과 dict2
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
result = dict(zip(date,close_price))
result

# 분기문(101 ~ 130)

In [ ]:
# 101
# 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?
# bool 타입

In [ ]:
# 102 아래 코드의 출력 결과를 예상하라
print(3 == 5)

In [ ]:
# 103 아래 코드의 출력 결과를 예상하라
print(3 < 5)

In [ ]:
# 104 아래 코드의 결과를 예상하라
x = 4
print(1 < x < 5)

In [ ]:
# 105 아래 코드의 결과를 예상하라.
print ((3 == 3) and (4 != 3))

In [ ]:
# 106 아래 코드에서 에러가 발생하는 원인에 대해 설명하라.
print(3 => 4)
# 문법이 잘못 되어서 print(3 >= 4)

In [ ]:
# 107 아래 코드의 출력 결과를 예상하라
if 4 < 3:
    print("Hello World")

In [ ]:
# 108 아래 코드의 출력 결과를 예상하라
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

In [ ]:
# 109 아래 코드의 출력 결과를 예상하라
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

In [ ]:
# 110 아래 코드의 출력 결과를 예상하라
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

In [ ]:
# 111  사용자로부터 문자를 입력받고, 입력 받은 문자를 두번 출력하라.
print(input()*2)

In [ ]:
# 112 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.
user_input = int(input("숫자를 입력하세요 : "))
print(user_input + 10)

In [ ]:
# 113
user_input = int(input())
if user_input % 2 == 0:
    print("짝수")
else:
    print("홀수")

In [ ]:
# 114
user_input = int(input("입력값 : "))
if user_input > 255:
    print(255)
else:
    print(user_input+20)

In [ ]:
# 115
user_input = int(input("입력값 : "))
if user_input > 255:
    print(255)
elif user_input < 0:
    print(0)    
else:
    print(user_input-20)

In [ ]:
# 116
time = input('현재시간 : ')
if time[-2:] != "00":
    print('정각이 아닙니다.')
else:
    print('정각 입니다.')

In [ ]:
# 117
fruit = ['사과', '포도','홍시']
user_input = input('좋아하는 과일은?')

if user_input in fruit:
    print('정답입니다.')
else:
    print('땡입니다.')

In [ ]:
# 118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
investment = input("종목명")
if investment in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

In [ ]:
# 119 키값이 포함된 경우
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user_input = input("입력하세요")
if user_input in fruit.keys():
    print('정답입니다.')
else :
    print('땡')

In [ ]:
# 120 value값이 포함된 경우
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user_input = input("좋아하는 과일은?")
if user_input in fruit.values():
    print('정답입니다.')
else :
    print('땡')

In [ ]:
# 121 islower
user_input = input('문자 한개를 입력하세요')
if user_input.islower():
    print(user_input.upper())
else:
    print(user_input.lower())

In [ ]:
# 122
user_input = int(input('점수를 입력하세요'))
if 81 <= user_input <= 100:
    print("A")
elif 61 <= user_input <= 80:
    print("B")
elif 41 <= user_input <= 60:
    print("C")
elif 21 <= user_input <= 40:
    print("D")
elif 0 <= user_input <= 20:
    print("E")
    
else:
    print('재시험입니다.')

In [ ]:
# 123 
환율 = {'달러':1167,'앤':1.096,'유로':1268,'위안':171}
user_input = input('입력 : ')
cur, num = user_input.split()

print(int(num)*환율[cur],"원")

In [ ]:
# 124 세 개의 숫자 입력받아 가장 큰수 출력
user_num1 = int(input('숫자입력하세요'))
user_num2 = int(input('숫자입력하세요'))
user_num3 = int(input('숫자입력하세요'))
print(max(user_num1,user_num2,user_num3))

In [ ]:
# 125
data = {'011':'SKT','016':'KT','019':'LGU','010':"알수없음"}
user_input = input()
front, middle, end = user_input.split("-")
print(data[front])

In [ ]:
# 126
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

In [ ]:
# 127
user_input = input("주민등록번호 : ")
gender = user_input.split("-")[1]
if gender[0] == "1":
    print('남자')
else:
    print('여자')

In [ ]:
# 128 
user_input = input("주민등록번호 : ")
locode = user_input.split("-")[1]
if 0 <= int(locode[1:3]) <= 8:
    print('서울입니다.')
else:
    print('서울이 아닙니다.')

In [ ]:
# 129 주민등록번호 검증 프로그램

user_input_data = input('주민등록번호 : ')
user_input = user_input_data.replace("-","")
user_sum = int(user_input[0])*2 + int(user_input[1])*3 + int(user_input[2])*4 + int(user_input[3])*5 + \
int(user_input[4])*6 + int(user_input[5])*7 + int(user_input[6])*8 + int(user_input[7])*9 + \
int(user_input[8])*2 + int(user_input[9])*3 + int(user_input[10])*4 + int(user_input[11])*5
check = 11- (user_sum % 11)

if check == int(user_input_data[-1]):
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

In [ ]:
# 130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
변동폭 = int(btc['max_price']) - int(btc['min_price'])
시가 = int(btc['opening_price'])
if 시가 + 변동폭 > int(btc['max_price']):
    print('상승장')
else:
    print('하락장')

# 반복문(131 ~ 200)

In [ ]:
# 131 for문의 실행결과를 예측하라.
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

In [ ]:
# 132 for문의 실행결과를 예측하라.
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")

In [ ]:
# 133
data = ["A","B","C"]
print(data[0])
print(data[1])
print(data[2])

In [ ]:
# 134
data = ["A","B","C"]
print("츨력:", data[0])
print("츨력:", data[1])
print("츨력:", data[2])

In [ ]:
# 135
data = ["A","B","C"]
print("츨력:", data[0].lower())
print("츨력:", data[1].lower())
print("츨력:", data[2].lower())

In [ ]:
# 136
data = 10,20,30
for _ in data:
    print(_)

In [ ]:
# 137
for _ in 10,20,30:
    print(_)

In [ ]:
# 138
for _ in 10,20,30:
    print(_)
    print("------")

In [ ]:
# 139
print("++++")
for _ in 10,20,30:    
    print(_)

In [ ]:
# 140
for _ in range(1,5):
    print("-------")

In [ ]:
# 141
리스트 = [100,200,300]
for _ in 리스트:
    print(_ + 10)

In [ ]:
# 142
리스트 = ["김밥", "라면", "튀김"]
for _ in 리스트:
    print("오늘의 메뉴 : ",_)

In [ ]:
# 143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for _ in 리스트:
    print(len(_))

In [ ]:
# 144
리스트 = ['dog', 'cat', 'parrot']
for _ in 리스트:
    print(_, len(_))

In [ ]:
# 145
리스트 = ['dog', 'cat', 'parrot']
for _ in 리스트:
    print(_[0])

In [ ]:
# 146
리스트 = [1, 2, 3]
for _ in 리스트:
    print("3 x",str(_))

In [ ]:
# 147
리스트 = [1, 2, 3]
for _ in 리스트:
    print("3 x {} = {}".format(_, 3*_))

In [ ]:
# 148
리스트 = ["가","나","다","라"]
for _ in 리스트[1:]:
    print(_)

In [ ]:
# 149
리스트 = ["가","나","다","라"]
for _ in 리스트[::2]:
    print(_)

In [ ]:
# 150
리스트 = ["가","나","다","라"]
for _ in 리스트[::-1]:
    print(_)

In [ ]:
# 132

In [ ]:
# 151
리스트 = [3, -20, -3, 44]
for _ in 리스트:
    if _ < 0:
        print(_)

In [ ]:
# 152
리스트 = [3,100,23,44]
for _ in 리스트:
    if _ % 3 == 0:
        print(_)

In [ ]:
# 153
리스트 = [13, 21, 12, 14, 30, 18]
for _ in 리스트:
    if _ % 3 == 0 and _<20:
        print(_)

In [ ]:
# 154
리스트 = ["I", "study", "python", "language", "!"]
for _ in 리스트:
    if len(_) >= 3:
        print(_)

In [ ]:
# 155
리스트 = ["A", "b", "c", "D"]
for _ in 리스트:
    if _.isupper():
        print(_)

In [ ]:
# 156
리스트 = ["A", "b", "c", "D"]
for _ in 리스트:
    if _.islower():
        print(_)

In [ ]:
# 157
리스트 = ['dog', 'cat', 'parrot']
for _ in 리스트:
    print(_.capitalize())

In [ ]:
# 158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for _ in 리스트:
    print(_.split(".")[0])

In [ ]:
# 159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for _ in 리스트:
    if _.split(".")[1] == "h":
        print(_)

In [ ]:
# 160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for _ in 리스트:
    if _.split(".")[1] == "h" or _.split(".")[1] == "c":
        print(_)

In [ ]:
# 161
for _ in range(100):
    print(_)

In [ ]:
# 162
# for _ in range(2002,2051)[::4]:
for _ in range(2002,2051,4):
    print(_)

In [ ]:
# 163
for _ in range(1,31):
    if _ % 3 == 0:
        print(_)

In [ ]:
# 164
# for _ in range(0,100)[::-1]:
for _ in range(100):
    print(99-_)

In [ ]:
# 165
for _ in range(1,10):
    print(_/10)

In [ ]:
# 166
for _ in range(1,10):
    print("3x{} = {}".format(_,_*3))

In [ ]:
# 167
for _ in range(1,10,2):
    print("3x{} = {}".format(_,_*3))

In [ ]:
# 168
num = 0
for _ in range(1,11):
    num += _
print("합:",num)

In [ ]:
# 169
num = 0
for _ in range(1,11,2):
    num += _
print("합:",num)

In [ ]:
# 170
num = 1
for _ in range(1,11):
    num *= _
print(num)

In [ ]:
# 171
price_list = [32100, 32150, 32000, 32500]
for _ in price_list:
    print(_)

In [ ]:
# 172
price_list = [32100, 32150, 32000, 32500]
for i, _ in enumerate(price_list):
    print(i, _)

In [ ]:
# 173
price_list = [32100, 32150, 32000, 32500]
for i,_ in enumerate(price_list):
    print((len(price_list)-1)-i, _)

In [ ]:
# 174
price_list = [32100, 32150, 32000, 32500]
for i in range(1,4):
    print(90 + 10*i, price_list[i])

In [ ]:
# 175
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[i], my_list[i+1])

In [ ]:
# 176
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1],my_list[i+2])

In [ ]:
# 177
my_list = ["가", "나", "다", "라"]
for i in range(1,len(my_list)):
    print(my_list[(len(my_list)-i)],my_list[(len(my_list)-i-1)])

In [ ]:
# 178 abs 절대값 함수
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
    print(abs(my_list[i+1]-my_list[i]))

In [ ]:
# 179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
    print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

In [ ]:
# 180
volatility = []
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
for i in range(0,5):
    volatility.append(high_prices[i]-low_prices[i])
volatility

In [ ]:
# 181
f_fl = ['101호','102호']
s_fl = ['201호','202호']
t_fl = ['301호','302호']
apart = [f_fl,s_fl,t_fl]
print(apart,type(apart))

In [ ]:
# 182
시가 = [100,200,300]
종가 = [80,210,330]
stock = [시가,종가]
stock

In [ ]:
# 183
stock = {"시가":[100,200,300], "종가":[80,210,330]}
stock

In [ ]:
# 184
stock = {'10/10':[80,110,70,90],'10/11':[210,230,190,200]}
stock

In [ ]:
# 185 2중 for문
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")

In [ ]:
# 186
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row:
        print(col,"호")

In [ ]:
# 187
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row[::-1]:
        print(col,"호")

In [ ]:
# 188
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col,"호")
        print("------")

In [ ]:
# 189
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:    
        print(col, "호")
    print("------")

In [ ]:
# 190
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row: 
        print(col,"호")
print("-----")

In [ ]:
# 191
#open/high/low/close
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for row in data:
    for col in row:
        print(col*1.00014)

In [ ]:
# 192
#open/high/low/close
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for row in data:
    for col in row:
        print(col*1.00014)
    print("----")

In [ ]:
# 193
#open/high/low/close
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []
for row in data:
    for col in row:
        result.append(col*1.00014)
result

In [ ]:
# 194
#open/high/low/close
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []
for row in data:
    sub = [] # 다시 초기화 시켜줌 
    for col in row:
        sub.append(col*1.00014)   
    result.append(sub)
print(result)

In [ ]:
# 195
# 종가 데이터만 출력
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:    
    print(row[3])

In [ ]:
# 196 종가가 150보다 큰경우만 출력
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:    
    if row[3] > 150:
        print(row[3])

In [ ]:
# 197 종가가 시가보다 크거나 같은 경우에만 종가 출력
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:    
    if row[3] >= row[0]:
        print(row[3])

In [ ]:
# 198 고가와 저가의 차이를 변동폭이라 할 때, 변동폭을 리스트에 저장하라
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for row in ohlc[1:]:    
    volatility.append(row[1] - row[2])
volatility

In [ ]:
# 199 종가가 시가보다 높은날의 변동성을 출력하라
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:   
    if row[3] > row[0]:
        print(row[1]-row[2])

In [ ]:
# 200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 수익금 = close - open
profit = 0
for row in ohlc[1:]:
    profit += (row[0]-row[3])
profit

# 함수(201 ~ 240)

In [ ]:
# 201
#"비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.
def print_coin():
    print('비트코인')

In [ ]:
# 202 201번에서 정의한 함수를 호출하라.
print_coin()

In [ ]:
# 203
for i in range(100):
    print_coin()

In [ ]:
# 204 "비트코인" 문자열을 100번 화면에 출력하는 print_coins() 함수를 정의하라.
def print_coins():
    for i in range(100):
        print('비트코인')
print_coins()

In [ ]:
# 205 아래의 에러가 발생하는 이유에 대해 설명하라.
hello()
def hello():
    print("Hi
# 함수가 정의되기 전에 호출되어서

In [ ]:
# 206 아래 코드의 실행 결과를 예측하라.
def message() :
    print("A")
    print("B")

message()
print("C")
message()

In [ ]:
# 207 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)
print("A")

def message() :
    print("B")

print("C")
message()

In [ ]:
# 208 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

In [ ]:
# 209 아래 코드의 실행 결과를 예측하라.
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

In [ ]:
# 210 아래 코드의 실행 결과를 예측하라.
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

In [ ]:
# 211 함수의 호출 결과를 예측하라.
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

In [ ]:
# 212 함수의 호출 결과를 예측하라.
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

In [ ]:
# 213 아래와 같은 에러가 발생하는 원인을 설명하라.
def 함수(문자열) :
    print(문자열)
함수()
# 함수에 정의와 다르게 함수를 호출하고 있다.
#함수를 호출할 때 하나의 파라미터를 입력해야한다.

In [ ]:
# 214 아래와 같은 에러가 발생하는 원인을 설명하라.
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
# 정의된 함수는 같은 타입의 두 개의 값을 입력 받아 덧셈 연산을 적용하려는 의도로 설계됐습니다.
# 하지만 함수를 호출 할때 문자열과 숫자를 입력해서 문자열과 숫자는 더할 수 없다는 에러가 발생합니다.

In [ ]:
# 215 하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 
# 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

def print_with_smile(변수):
    print(변수 + ":D")

print_with_smile("바보")

In [ ]:
# 216 - 215에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.
print_with_smile("안녕하세요")

In [ ]:
# 217 현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.
def print_upper_price(현재가격):
    print(현재가격*1.3)
print_upper_price(3000)

In [ ]:
# 218 두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.
def print_sum(a,b):
    print(a+b)
print_sum(1,5)

In [ ]:
# 219 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라
def print_arithmetic_operation(a,b):
    print(f'a+b = {a+b}')
    print(f'a-b = {a-b}')
    print(f'a*b = {a*b}')
    print(f'a/b = {a/b}')
print_arithmetic_operation(12,4)

In [ ]:
# 220 세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.
def print_max(a,b,c):
    max_val = 0
    if a > max_val :
        max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    print(max_val)
         
print_max(1,2,5)

In [ ]:
# 221 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.
def print_reverse(string):
    print(string[::-1])
print_reverse("python")

In [ ]:
# 222 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.
def print_score(score_list):
    print(sum(score_list)/len(score_list))
print_score([1,2,3,4,5])

In [ ]:
# 223 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.
def print_even(even):
    for i in even:
        if i % 2 == 0:
            
            
            print(i)
print_even([1,2,3,4,5,6,7])

In [ ]:
# 224 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라
def print_keys(a):
    for i in a.keys():
        print(i)
        
print_keys({"이름":"김말똥","나이":20,"성별":0})

In [ ]:
# 225
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(dict_data, date):
    print(dict_data[date])
    
print_value_by_key(my_dict,"10/27")

In [ ]:
# 226
def print_5xn(line):
    chunk_num = int(len(line) / 5)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])
           
print_5xn('가나다라마바사아자타카타파하나님')

In [ ]:
# 227
def print_mxn(string, num):
    line_count = int(len(string)/num)+1
    for x in range(line_count):
        print(string[x*num:x*num+num])

print_mxn("가나다라마바사", 6)

In [ ]:
# 228
def calc_monthly_salary(annual_salary):
    monthly_pay = int(annual_salary/12)
    print(monthly_pay)

calc_monthly_salary(32005230)

In [ ]:
# 229 아래 코드의 실행 결과를 예측하라
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)
# my_print(100, 200)

In [ ]:
# 230 아래 코드의 실행 결과를 예측하라.
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

In [ ]:
# 231 아래 코드를 실행한 결과를 예상하라.
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)
# 함수 내부에서 사용한 변수는 함수 밖에서는 접근이 불가능합니다.
#(문법이 그래요) 함수 내부에서 계산한 값을 전달하기 위해서는 return을 사용해야 합니다.

In [ ]:
# 232 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.
def make_url (url):
    print(f"www.{url}.com")
make_url("daum")

In [ ]:
# 233 문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.
def make_list(string):
    return list(string)
#     print(list(string))
make_list("addfe")

In [ ]:
# 234 숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라
def pickup_even(items):
    result = []
    for item in items:
        if item % 2 == 0:
            result.append(item)
    return result
pickup_even([3, 4, 5, 6, 7, 8])

In [ ]:
# 235 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.
def conert_int(num):
    num = num.replace(",","")
    print(int(num))
    
conert_int("1,234,567")

In [ ]:
# 236 아래 코드의 실행 결과를 예측하라.
def 함수(num) :
    return num + 4

a = 함수(10) # 14
b = 함수(a) # 18
c = 함수(b) # 22
print(c) # 22

In [ ]:
# 237 아래 코드의 실행 결과를 예측하라.
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

In [ ]:
# 238 아래 코드의 실행 결과를 예측하라.
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

In [ ]:
# 239 아래 코드의 실행 결과를 예측하라.
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

In [ ]:
# 240 아래 코드의 실행 결과를 예측하라.
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

# 모듈(241 ~ 250)

In [ ]:
# 241 현재시간
import datetime
print(datetime.datetime.now())

In [ ]:
# 242 현재시간의 타입 - datetime 모듈의 now 함수의 리턴 값의 타입을 화면에 출력해보세요
import datetime
print(type(datetime.datetime.now()))

In [ ]:
# 243 timedelta - # x일 전의 날짜 구하기
import datetime
# delta = datetime.timedelta(days=4) # 4일에 대한 값 리턴 날짜는 숫자로 계산할 수 없기에 그에 맞는 형식으로 
now = datetime.datetime.now()

for day in range(5,0,-1):
    delta = datetime.timedelta(days=day)
    date = now - delta
    print(date)

In [ ]:
# 244 strftime - 시간을 특정 포맷으로 변경
import datetime
now = datetime.datetime.now()
print(now.strftime("%H:%M:%S")) # 12:51:21 와 같이 시간, 분, 초 형식만 가져옴

In [ ]:
# 245 strptime
import datetime
day = "2020-05-04"
time = datetime.datetime.strptime(day,"%Y-%m-%d" ) # %Y-%m-%d <-- 대 소문자 유의!
print(time)

In [ ]:
# 246 sleep 함수 - 1초에 한 번 현재 시간을 출력하는 코드를 작성하라
import time
import datetime

while True:
    time.sleep(1)
    now = datetime.datetime.now()
    print(now)

In [ ]:
# 247 모듈 임포트 - 모듈을 임포트하는 4가지 방식을 설명하시오

In [ ]:
# 248 OS 모듈(getcwd)함수를 호출하여 현재 디렉터리의 경로를 화면에 출력해보자
import os
ret = os.getcwd()
print(ret, type(ret))

In [ ]:
# 249 OS - 모듈(rename) - 바탕화면에 텍스트 파일을 하나 생성한 후 os 모듈의 rename 함수를 호출하여 해당 파일의 이름을 변경해보세요.
import os
os.rename(r"C:\Users\tgkang\Desktop/before.txt", r"C:\Users\tgkang\Desktop/after.txt")
# r(raw string)은 문자그대로 받아 들여달라는 의미

In [ ]:
# 250 
import numpy
for i in numpy.arange(0,5,0.1): # 일반적 range는 정수값씩만 증감 가능하다.
    print(i, len(str(i))) #왜 값이 저렇게 나올까?

# 클래스(251 ~ 290)

In [ ]:
# 251 클래스, 객체, 인스턴스에 대해 설명해보자.
# 클래스
# 클래스란 : 붕어빵의 틀과 같은 것
# ex(string, dict, list 등과 같은 타입을 만들어 내는것)
# 타입을 가져다 씀으로써 여러가지 기능들을 쉽게 가져다가 쓸 수 있다.
# 타입에 대해서 프로그래밍을 쉽게 할 수 있또록

# 객체(object)
# 그 클래스에 의해 만들어진 실제 메모리에 할당 되는놈을 "객체"라고 한다.
# ex) 붕어빵 자체

# 인스턴스
# A라는 클래스의 객체야 라고 할때는 "인스턴스야" 강조하고 싶을때,
# 보통 객체와 같은 용어긴함

In [ ]:
# 252 클래스 정의
class Human: # 사용자가 만든 클래스들은 보통 대문자를 쓰는게 관례이다.
    pass

In [ ]:
# 253 인스턴스 생성
class Human:
    pass
areum = Human()

In [ ]:
# 254 클래스 생성자 - 1
class Human:
    def __init__(self):
        print("응애응애")
areum = Human()
print(areum)

In [ ]:
# 255 클래스 생성자 - 2
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
areum = Human("아름",25,"여자")

print(areum.age)

In [ ]:
# 256 인스턴스 속성에 접근
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
areum = Human("조아름",25,"성별")
areum.age

In [ ]:
# 257 클래스 메소드 - 1
# class Human:
#     def __init__ (self, name, age, sex):
#         self.name = name
#         self.age = age
#         self.sex = sex
#         self.who = [name, age, sex]
# areum = Human("조아름",25,"여자")
# areum.who

# 257 
class Human:
    def __init__ (self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    
    def who(self):
        print("이름:{}, 나이:{}, 성별:{}".format(self.name, self.age, self.sex))

areum = Human("조아름",25,"여자")
areum.who()

In [ ]:
# 258 클래스 메소드 - 2
# areum = Human("조아름",25,"성별")
class Human:
    def __init__ (self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    
    def who(self):
        print("이름:{}, 나이:{}, 성별:{}".format(self.name, self.age, self.sex))
        
    def setinfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex        

areum = Human("불명","미상","모름")
areum.who()

areum.setinfo("아름",25,"여자")
areum.who()

In [ ]:
# 259 클래스 소멸자

class Human:
    def __init__ (self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    def __del__ (self):
        print("나의 죽음을 알리지말라")
    
    def who(self):
        print("이름:{}, 나이:{}, 성별:{}".format(self.name, self.age, self.sex))
        
    def setinfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
areum = Human("불명","미상","모름")
del(areum)

In [ ]:
# 260 에러의 원인 - 아래와 같은 에러가 발생한 원인에 대해 설명하세요

class OMG : 
    def print() :
        print("Oh my god")

myStock = OMG()
myStock.print() # <-- 컴퓨터는 우측의 순서로 이해한다. OMH.print(myStock) 
# print라는 객체를 만들긴 했지만 인자가 없음
# self를 넘겨주면 해결됨


# >>> >>> myStock = OMG()
# >>> myStock.print()
# TypeError Traceback (most recent call last)
# <ipython-input-233-c85c04535b22> in <module>()
# ----> myStock.print()

# TypeError: print() takes 0 positional arguments but 1 was given

In [ ]:
# 261 Stock 클래스 생성
# 주식 종목에 대한 정보를 저장하는 Stock 클래스를 정의해보세요. 클래스는 속성과 메서드를 갖고 있지 않습니다.
# 보통 클래스에는 클래스의 타입과 관련된 함수들 즉, 메소드 들이 위치하게 되는데 아무것도 없다.
# 클래스안에 아무것도 없는 객체가 생성된다. -> 즉 객체가 없다?
class Stock:
    pass
#     def __init__ (myStockData):

Stock()

In [ ]:
# 262 생성자
class Stock:
    def __init__(self, stockName, stockCode):
        self.주식 = stockName
        self.코드 = stockCode
      
삼성 = Stock("삼성전자", "005930")
print(삼성.코드)
print(삼성.주식)

In [ ]:
# 263
class Stock:
    def __init__ (self, name, code):
        self.name = name
        self.code = code
    
    def set_name(self, name):
        self.name = name
        
        
a = Stock(None, None)
# Stock.set_name(a,"삼성전자")
a.set_name("삼성전자") 
print(a.name)

In [ ]:
# 264
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
    def set_code(self,code):
        self.code2 = code
        print(self.code2)
a = Stock(None, None)
a.set_code("005930")

In [ ]:
# 265
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
    def get_name(self, name):
        self.name = name
        print(self.name)
    def get_code(self, code):
        self.code = code
        print(self.code)
삼성 = Stock("삼성전자","005930")
삼성.get_name("삼성전자")
삼성.get_code("20665")

In [ ]:
# 266
class Stock:
    def __init__(self, name, code, PER, PBR, 배당수익률):
        self.name = name
        self.code = code
        self.PER = float(PER)
        self.PBR = float(PBR)
        self.배당수익률 = float(배당수익률)
        
    def set_name(self, name):
        self.name = name
        return self.name
    
    def set_code(self, code):
        self.code = code
        return self.code
    
    def get_name(self):
        return self.name
    
a = Stock("삼성전자", 20613,1,2,3)

In [ ]:
# 267 객체생성 - 266번에서 정의한 생성자를 통해 다음 정보를 갖는 객체를 생성해보세요
class Stock:
    def __init__(self, name, code, PER, PBR, 배당수익률):
        self.name = name
        self.code = code
        self.PER = float(PER)
        self.PBR = float(PBR)
        self.배당수익률 = float(배당수익률)
        
    def set_name(self, name):
        self.name = name
        return self.name
    
    def set_code(self, code):
        self.code = code
        return self.code
    
    def get_name(self):
        return self.name

삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
print(삼성.배당수익률)

In [ ]:
# 268 객체의 속성수정
class Stock:
    def __init__(self, name, code, PER, PBR, dividend):
        self.name = name
        self.code = code
        self.PER = float(PER)
        self.PBR = float(PBR)
        self.dividend = dividend
        
    def set_name(self, name):
        self.name = name
        return self.name
    
    def set_code(self, code):
        self.code = code
        return self.code
    
    def get_name(self):
        return self.name
    
    def set_per(self, PER):
        self.PER = PER
    
    def set_pbr(self, PBR):
        self.PBR = PBR
        
    def set_dividend(self, dividend):
        self.dividend = dividend
        
        
삼성 = Stock("삼성전자", "005930", 15.79, 1.33, "2.83")
print(삼성.set_dividend("22"))

In [ ]:
# 269
class Stock:
    def __init__(self, name, code, PER, PBR, 배당수익률):
        self.name = name
        self.code = code
        self.PER = float(PER)
        self.PBR = float(PBR)
        self.배당수익률 = float(배당수익률)
        
    def set_name(self, name):
        self.name = name
        return self.name
    
    def set_code(self, code):
        self.code = code
        return self.code
    
    def set_per(self, PER):
        self.PER = PER
        return self.PER

삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)

삼성.set_per(12.5)

In [ ]:
# 270
class Stock:
    def __init__(self, name, code, PER, PBR, 배당수익률):
        self.name = name
        self.code = code
        self.PER = float(PER)
        self.PBR = float(PBR)
        self.배당수익률 = float(배당수익률)
        
    def set_name(self, name):
        self.name = name
        return self.name
    
    def set_code(self, code):
        self.code = code
        return self.code
    
    def set_per(self, PER):
        self.PER = PER
        return self.PER

종목 = []
삼성전자 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
현대차 = Stock("현대차","005380",8.70,0.35,4.27)
LG전자 = Stock("LG전자","066570",317.34,0.69,1.37)

# for i in ['삼성전자','현대차','LG전자']:
#     print(i.name, i.code)

###############################################################################################
# 해설

종목.append(삼성)   
종목.append(현대차)
종목.append(LG전자)

for i in 종목:  
    print(i.code, i.name, type(i)) ### 클래스를 리스트에 담을 수가 있구나

In [ ]:
# 271 Account 클래스
class Account:
    def __init__(self, name, f_charge):
        self.name = name
        self.f_charge = f_charge
        self.bkname = "SC은행"
        
#     def bkName(self):
#         print("SC은행")     # <--------이미 고정된 값이므로 생성자에 추가해도 됨
    def bkNo(self):
        import random
        first = random.randint(100,999)
        second = random.randint(10,99)
        third = random.randint(100000,999999)
        print(f"계좌번호 : {first}-{second}-{third}")
        
        
a = Account("태규", 12000)
a.bkNo()
print(a.bkname)
print(a.name)
print(a.f_charge)

In [ ]:
# 272 클래스 변수 출력 - Account 클래스로부터 생성된 계좌 객체의 개수 저장
import random

class Account:
    
    account_count = 0 # 개수세팅
    
    def __init__(self, name, f_charge):
        self.name = name
        self.f_charge = f_charge
        self.bkname = "SC은행"
        
        first = random.randint(0,999)
        second = random.randint(0,99)
        third = random.randint(0,999999)
        
        first = str(first).zfill(3) # 자리수 채워주는 함수
        second = str(second).zfill(2)
        third = str(third).zfill(6)
        self.account_number = first + "-" + second + "-" + third
        
        Account.account_count += 1 # Account 클래스 내 변수 카운트
        
a = Account("태규", 12000)
print(Account.account_count)
b = Account("재호", 1000)
print(Account.account_count)


print(a.name)
print(a.account_number)
print(a.f_charge)

In [ ]:
# 273 Account 클래스로부터 생성된 계좌의 개수를 출력하는 get_account_num() 메서드를 추가하세요.
import random

class Account:
    
    account_count = 0 # 개수세팅
    
    def __init__(self, name, f_charge):
        self.name = name
        self.f_charge = f_charge
        self.bkname = "SC은행"
        
        first = random.randint(0,999)
        second = random.randint(0,99)
        third = random.randint(0,999999)
        
        first = str(first).zfill(3) # 자리수 채워주는 함수
        second = str(second).zfill(2)
        third = str(third).zfill(6)
        self.account_number = first + "-" + second + "-" + third
        
        Account.account_count += 1 # Account 클래스 내 변수 카운트
        
#     def get_account_num():
#         print(Account.account_count)
    def get_account_num(cls): # 객체에 접근할 필요없는 클래스 메소드라고함
       print(cls.account_count)
        
a = Account("태규", 12000)
b = Account("재호", 1000)


# Account.get_account_num() # 보통이렇게 출력 안함(객체에 접근할 필요없는 메소드)
# a.get_account_numt() <- Account.get_account_num(a) 인자가 없는데 넘어가게됨 에러 발생!
a.get_account_num() # <--- 이 자리에 객체가 넘어오는게 아니라 클래스가 넘어감
b.get_account_num()
print(a.name)
print(a.account_number)
print(a.f_charge)

In [ ]:
# 274 입금 메서드
#Account 클래스에 입금을 위한 deposit 메서드를 추가하세요. 입금은 최소 1원 이상만 가능합니다.
import random
class Account:
    
    account_count = 0 # 계좌개수 초기세팅
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        
        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)
        
        num1 = str(num1).zfill(3)    #  zfill(n) n자리수 0으로 채워주는 함수
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + "-" + num2 + "-" + num3
        
        Account.account_count += 1   # Account 개수 카운팅

    @classmethod
    def get_account_num(cls): # 객체에 접근할 필요없는 클래스 메소드라고함
       print(cls.account_count)
    
    def get_deposit(self, amount):
        if amount >= 1: # 입금은 최소 1원 이상
            self.balance += amount # 입금시 잔고 누적
            print(f"deposit:{amount}, balance : {self.balance}")

        
Kang = Account("태규", 12000)
Park = Account("재호", 10000)

Kang.get_deposit(3000)
Park.get_deposit(5000)

In [ ]:
# 275 출금 메서드
#Account 클래스에 출금을 위한 withdraw 메서드를 추가하세요. 출금은 계좌의 잔고 이상으로 출금할 수 는 없습니다.
import random
class Account:
    
    account_count = 0 # 계좌개수 초기세팅
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        
        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)
        
        num1 = str(num1).zfill(3)    #  zfill(n) n자리수 0으로 채워주는 함수
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + "-" + num2 + "-" + num3
        
        Account.account_count += 1   # Account 개수 카운팅

    @classmethod
    def get_account_num(cls): # 객체에 접근할 필요없는 클래스 메소드라고함
       print(cls.account_count)
    
    def get_deposit(self, amount):
        if amount >= 1: # 입금은 최소 1원 이상
            self.balance += amount # 입금 시 잔고 누적
            print(f"deposit:{amount}, balance : {self.balance}")
            
    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount # 출금 시 잔고 누적
            print(f"withdraw:{amount}, balance : {self.balance}")
            
        
Kang = Account("태규", 12000)
Park = Account("재호", 10000)


Kang.withdraw(2000) # 2000원 출금
Park.withdraw(5000)

In [ ]:
# 276 정보 출력 메서드 - Account 인스턴스에 저장된 정보를 출력하는 display_info()메서드를 추가하세요.
# 잔고는 세자리마다 쉼표를 출력하세요.

import random
class Account:
    
    account_count = 0 # 계좌개수 초기세팅
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        
        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)
        
        num1 = str(num1).zfill(3)    #  zfill(n) n자리수 0으로 채워주는 함수
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + "-" + num2 + "-" + num3
        
        Account.account_count += 1   # Account 개수 카운팅

    @classmethod
    def get_account_num(cls): # 객체에 접근할 필요없는 클래스 메소드라고함
       print(cls.account_count)
    
    def get_deposit(self, amount):
        if amount >= 1: # 입금은 최소 1원 이상
            self.balance += amount # 입금 시 잔고 누적
            print(f"deposit:{amount}, balance : {self.balance}")
            
    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount # 출금 시 잔고 누적
            print(f"withdraw:{amount}, balance : {self.balance}")
    
  
    def display_info(self):
        print("은행이름:", self.bank)
        print("예금주:", self.name)
        print("계좌번호:",self.account_number)
        print("잔고:", self.balance)
    
        
Kang = Account("태규", 12000)
Park = Account("재호", 10000)


Kang.display_info()
Park.display_info()

In [ ]:
# 277 이자 지급하기 - 입금 횟수가 5회가 될 때 잔고를 기준으로 1%의 이자가 잔고에서 추가되도록 코드를 변경해보세요.

import random
class Account:
    
    account_count = 0 # 계좌개수 초기세팅
        
    def __init__(self, name, balance):
        self.deposit_count = 0  # 예는 왜 들여써서 카운팅할까? 같은 위치에 없고
        
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        
        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)
        
        num1 = str(num1).zfill(3)    #  zfill(n) n자리수 0으로 채워주는 함수
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + "-" + num2 + "-" + num3
        
        Account.account_count += 1   # Account 개수 카운팅

        
    @classmethod
    def get_account_num(cls): # 객체에 접근할 필요없는 클래스 메소드라고함
       print(cls.account_count)
    
    def get_deposit(self, amount):
        if amount >= 1: # 입금은 최소 1원 이상  
            
            
            self.balance += amount # 입금 시 잔고 누적
            self.deposit_count += 1
            if self.deposit_count == 5: # 5번 입금시
                # 이자 지급
                self.balance *= 1.01   
            print(f"deposit:{amount}, balance : {self.balance}")

  
    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount # 출금 시 잔고 누적
            print(f"withdraw:{amount}, balance : {self.balance}")
    
    def display_info(self):
        print("은행이름:", self.bank)
        print("예금주:", self.name)
        print("계좌번호:",self.account_number)
        print("잔고:", self.balance)
    
        
Kang = Account("태규", 12000)
Park = Account("재호", 10000)
Kang.get_deposit(1000)
Kang.get_deposit(1000)
Kang.get_deposit(1000)
Kang.get_deposit(1000)
Kang.get_deposit(1000)

In [ ]:
# 278 여러 객체 생성 - Account 클래스로부터 3개 이상 인스턴스를 생성하고 생성된 인스턴스를 리스트에 저장하라.
import random
class Account:
    
    account_count = 0 # 계좌개수 초기세팅
        
    def __init__(self, name, balance):
        self.deposit_count = 0  # 예는 왜 들여써서 카운팅할까? 같은 위치에 없고
        
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        
        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)
        
        num1 = str(num1).zfill(3)    #  zfill(n) n자리수 0으로 채워주는 함수
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + "-" + num2 + "-" + num3
        
        Account.account_count += 1   # Account 개수 카운팅

        
    @classmethod
    def get_account_num(cls): # 객체에 접근할 필요없는 클래스 메소드라고함
       print(cls.account_count)
    
    def get_deposit(self, amount):
        if amount >= 1: # 입금은 최소 1원 이상  
            
            
            self.balance += amount # 입금 시 잔고 누적
            self.deposit_count += 1
            if self.deposit_count == 5: # 5번 입금시
                # 이자 지급
                self.balance *= 1.01   
            print(f"deposit:{amount}, balance : {self.balance}")

  
    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount # 출금 시 잔고 누적
            print(f"withdraw:{amount}, balance : {self.balance}")
    
    def display_info(self):
        print("은행이름:", self.bank)
        print("예금주:", self.name)
        print("계좌번호:",self.account_number)
        print("잔고:", self.balance)
    

data = []
Kang = Account("Kang", 12000)
Park = Account("Park", 10000)
Lee = Account("Lee", 14000)

data.append(Kang) # 리스트에 인스턴스를 하나씩 추가
data.append(Park)
data.append(Lee)

print(data)

In [ ]:
# 279 객체 순회 - 반복문을 통해 리스트에 있는 객체를 순회하면서 잔고가 100만원 이상인 고객의 정보만 출력하라.
import random
class Account:
    
    account_count = 0 # 계좌개수 초기세팅
        
    def __init__(self, name, balance):
        self.deposit_count = 0  # 예는 왜 들여써서 카운팅할까? 같은 위치에 없고
        
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        
        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)
        
        num1 = str(num1).zfill(3)    #  zfill(n) n자리수 0으로 채워주는 함수
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + "-" + num2 + "-" + num3
        
        Account.account_count += 1   # Account 개수 카운팅
        
    @classmethod
    def get_account_num(cls): # 객체에 접근할 필요없는 클래스 메소드라고함
       print(cls.account_count)
    
    def get_deposit(self, amount):
        if amount >= 1: # 입금은 최소 1원 이상  
            
            
            self.balance += amount # 입금 시 잔고 누적
            self.deposit_count += 1
            if self.deposit_count == 5: # 5번 입금시
                # 이자 지급
                self.balance *= 1.01   
            print(f"deposit:{amount}, balance : {self.balance}")

  
    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount # 출금 시 잔고 누적
            print(f"withdraw:{amount}, balance : {self.balance}")
    
    def display_info(self):
        print("은행이름:", self.bank)
        print("예금주:", self.name)
        print("계좌번호:",self.account_number)
        print("잔고:", self.balance)
    

data = []
Kang = Account("Kang", 1200000)
Park = Account("Park", 2000000)
Lee = Account("Lee", 140000)

data.append(Kang) # 리스트에 인스턴스를 하나씩 추가
data.append(Park)
data.append(Lee)

for i in data:
    if i.balance >= 1000000: # 잔곤가 100만원  이상
        i.display_info()

In [ ]:
# 280 입출금 내역 - 입금과 출금 내역이 기록되도록 코드를 업데이트 하세요. 입금 내역과 출금 내역을 출력하는 
# deposit_history와 withdraw_history 메서드를 추가하세요.

import random
class Account:
    
    account_count = 0 # 계좌개수 초기세팅
        
    def __init__(self, name, balance):
        self.deposit_count = 0  # 예는 왜 들여써서 카운팅할까? 같은 위치에 없고
        self.deposit_log = [] # deposit log 리스트 생성
        self.withdraw_log = [] # withdraw log 리스트 생성
        
        
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        
        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)
        
        num1 = str(num1).zfill(3)    #  zfill(n) n자리수 0으로 채워주는 함수
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + "-" + num2 + "-" + num3
        
        Account.account_count += 1   # Account 개수 카운팅
        
    @classmethod
    def get_account_num(cls): # 객체에 접근할 필요없는 클래스 메소드라고함
       print(cls.account_count)
    
    def get_deposit(self, amount):
        if amount >= 1: # 입금은 최소 1원 이상
            self.deposit_log.append(amount) # deposit_log 리스트에 입력한 amount 담기
            self.balance += amount # 입금 시 잔고 누적
            self.deposit_count += 1
            if self.deposit_count == 5: # 5번 입금시
                # 이자 지급
                self.balance *= 1.01   
            print(f"deposit:{amount}, balance : {self.balance}")

  
    def withdraw(self, amount):
        if self.balance > amount:
            self.withdraw_log.append(amount) # withdraw_log 리스트에 입력한 amount 담기
            self.balance -= amount # 출금 시 잔고 누적
            print(f"withdraw:{amount}, balance : {self.balance}")
    
    def display_info(self):
        print("은행이름:", self.bank)
        print("예금주:", self.name)
        print("계좌번호:",self.account_number)
        print("잔고:", self.balance)
    
    def withdraw_history(self):   # withdraw_history 메서드 생성
        for amount in self.withdraw_log:      # withdraw_history 리스트 내 로그 값들 출력
            print(amount)    
    
    
    def deposit_history(self):
        for amount in self.deposit_log:
            print(amount)
            


Kang = Account("Kang", 12000)
Kang.get_deposit(2000)
Kang.get_deposit(2300)
Kang.get_deposit(2000)
Kang.get_deposit(2000)
Kang.withdraw(3000)
Kang.withdraw(1200)
Kang.withdraw(1000)

Kang.deposit_history()
Kang.withdraw_history()

In [ ]:
# 281 클래스 정의 - 다음 코드가 동작하도록 차 클래스를 정의하세요.(본인)
class 차:
    def __init__(self, wheel, price):
        self.wheel = wheel
        self.price = price    
        
    def 바퀴(self,wheel):
        self.바퀴 = wheel
        print(self.바퀴)
        
    def 가격(self, price):
        self.가격 = price
        print(self.가격)

car = 차(2,100)
##########################################################################

In [ ]:
# 281 클래스 정의 - 다음 코드가 동작하도록 차 클래스를 정의하세요.(답안)
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


car = 차(2, 1000)
print(car.바퀴)
print(car.가격)

In [ ]:
# 282 클래스 상속 - 차 클래스를 상속받은 자전차 클래스를 정의하세요
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


car = 차(2, 1000)
# print(car.바퀴)
# print(car.가격)


class 자전차(차):  # 클래스 상속~
    pass
car2 = 자전차(2,100)
car2.가격
car2.바퀴

In [ ]:
# 283 클래스 상속 - 다음 코드가 동작하도록 자전차 클래스를 정의하세요. 단 자전차 클래스는 차 클래스를 상속받습니다.
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자전차(차):
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
        
bicycle = 자전차(2,100)
bicycle.가격

In [ ]:
# 284. 클래스 상속(방법1) - 다음 코드가 동작하도록 자전차 클래스를 정의하세요. 단 자전차 클래스는 차클래스를 상속받습니다.
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        self.바퀴 = 바퀴 # super()???
        self.가격 = 가격
        self.구동계 = 구동계
        
        
bicycle = 자전차(2,100,"시마노")
print(bicycle.구동계)
print(bicycle.바퀴)

In [3]:
# 284. 클래스 상속 - 다음 코드가 동작하도록 자전차 클래스를 정의하세요. 단 자전차 클래스는 차클래스를 상속받습니다.
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
#         차.__init__(self,바퀴, 가격) # 동일한 표현
        super().__init__(바퀴, 가격)  # super() "차" 클래스의 바퀴, 가격을 넘겨받음
        self.구동계 = 구동계
        
car = 차(1,200)

bicycle = 자전차(2,100,"시마노")
print(bicycle.구동계)
print(bicycle.바퀴)

시마노
2

In [ ]:
# 285 클래스 상속 -  다음 코드가 동작하도록 차 클래스를 상속받는 자동차 클래스를 정의하세요.

class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)


car = 자동차(4, 1000)
car.정보()

In [ ]:
# 286 부모 클래스 생성자 호출
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

In [6]:
# 287 부모 클래스 메서드 호출
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계

    def 정보(self):
        super().정보()
        print("구동계 ", self.구동계)

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수  2
가격  100
구동계  시마노

In [4]:
# 288 메서드 오버라이딩
class 부모:
    def 호출(self):
        print("부모호출")

class 자식(부모):
    def 호출(self):
        print("자식호출")


나 = 자식()
나.호출()

자식호출

In [ ]:
# 289 생성자
class 부모:
    def __init__(self):
        print("부모생성")

class 자식(부모):
    def __init__(self):
        print("자식생성")

나 = 자식()

In [5]:
# 290 부모클래스 생성자 호출
class 부모:
    def __init__(self):
        print("부모생성")

class 자식(부모):
    def __init__(self):
        print("자식생성")
        super().__init__()

나 = 자식()

자식생성
부모생성

# 입출력과 예외처리(291 ~ 300)

In [9]:
# 291 파일 쓰기
f = open(r"C:\Users\tgkang\Desktop\매수종목1.txt", mode="wt", encoding="utf-8")
f.write("005930\n")
f.write("005380\n")
f.write("003542\n")
f.close()

In [45]:
# 292 파일 쓰기
f = open(r"C:\Users\tgkang\Desktop\매수종목2.txt", mode="wt", encoding="utf-8")
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("003542 NAVER\n")
f.close()

In [12]:
# 293 csv 파일 쓰기
f = open(r"C:\Users\tgkang\Desktop\매수종목3.csv", mode="wt", encoding="cp949")
f.write("종목명, 종목코드, PER\n")
f.write("삼성전자, 005930, 15.79\n")
f.write("NAVER, 003542, 55.82\n")
f.close()

In [19]:
# 293 csv 파일 쓰기(방법2) - import csv 활용
import csv
f = open(r"C:\Users\tgkang\Desktop\매수종목5.csv", mode="wt", encoding="cp949", newline ="")
# newline = 라인마다 띄어 쓰기 방지
writer = csv.writer(f)
writer.writerow(["종목명", "종목코드", "PER"])
writer.writerow(["삼성전자", "005930", 15.79])
writer.writerow(["NAVER", "003542", 55.82])
f.close()

In [44]:
# 294 파일읽기
f = open(r"C:\Users\tgkang\Desktop\매수종목1.txt", encoding="utf-8")
lines = f. readlines() # 한줄한줄 읽기

codes = []
for line in lines:
    code = line.strip()
    codes.append(code)
print(codes)
f.close()

['005930', '005380', '0035420']

In [54]:
# 295 파일읽기
f = open(r"C:\Users\tgkang\Desktop\매수종목2.txt", encoding="utf-8")
lines = f.readlines()

data = {}
for line in lines:
    line = line.strip()
    k, v = line.split() # 두개의 변수로 받음
    data[k] = v # 딕셔너리 키값, value값 지정
print(data)
f.close()

{'005930': '삼성전자', '005380': '현대차', '003542': 'NAVER'}

In [58]:
# 296 예외처리

per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [68]:
# 297 예외처리 리스트에 저장
per = ["10.31", "", "8.00"]

f_data = []
for i in per:
    try:
        f_data.append(float(i))
    except:
        i = ""
print(f_data)

0
[10.31, 8.0]

In [95]:
# 298 특정 예외만 처리하기
num1 = 50
num2 = [1,2,0,3]
num3 = []

for _ in num2:
    try:
        num3.append(num1/_)
#         print(num3)
    except ZeroDivisionError:
        print("0으로 나누면 안되요")
        #     e
print(num3)

0으로 나누면 안되요
[50.0, 25.0, 16.666666666666668]

In [100]:
# 299 예외의 메세지 출력하기

data = [1,2,3]
for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e) # index 에러가 발생한 부분은 따로 출력

1
2
3
list index out of range
list index out of range

In [101]:
# 300 try, except, else, finally 구조 사용해보기
per = [ "10.31", "", "8.00"]

for i in per:
    try: # 실행코드
        print(float(i))
    except: # 예외 발생시 수행할 코드
        print(0)
    else: # 예외 발생 하지 않았을 때 수행할 코드
        print("clean data")
    finally: # 예외 발생여부 없이 항상 수행할 코드
        print("변환 완료")

10.31
clean data
변환 완료
0
변환 완료
8.0
clean data
변환 완료