# 파이썬 시작하기

In [ ]:
# 001 print
print('hello world')

In [ ]:
# 002 print
print("Mary's cosmetics")

In [ ]:
# 003 print
print('신씨가 소리질렀다. "도둑이야"')

In [ ]:
# 005 print - \n, \t
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n은 줄바꿈, \t는 탭

In [ ]:
# 006 print - 여러 데이터 출력
print("오늘은","일요일")

In [ ]:
# 007 print - sep
print("naver","kakao","sk","samsung", sep=" ; ")

In [ ]:
# 008 print - sep
print("naver","kakao","sk","samsung", sep="/")

In [ ]:
# 009 print - end
print("fist", end=""); print("second")

In [ ]:
# 010 print - 연산
print(5/3)

# 변수

In [ ]:
# 011 변수 - 할당
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

In [ ]:
# 012 변수 - 할당
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

In [ ]:
# 013 문자열 출력
s = "hello"
t = "python"
print(s+"!", t)

In [ ]:
# 014 파이썬을 이용한 값 계산
2+2*3

In [ ]:
# 015 type 함수
a = 128
print(type(a))

In [ ]:
# 016 문자열을 정수로 변환
num_str = 720
str(num_str)
print(str(num_str), type(str(num_str)))

In [ ]:
# 017 정수를 문자열 100으로 변환
num = 100
str_num= str(num)
print(str_num, type(str_num))

In [ ]:
# 018 문자열을 실수로 변환
num = "15.79"
f_num = float(num)
print(f_num, type(f_num))

In [ ]:
# 019 문자열을 정수로 변환
year = '2020'
int_year = int(year) 
print(int_year)
print(int_year +1)
print(int_year +2)

In [ ]:
# 020 파이썬 계산
montly = 48584
price = montly * 36
print(price)

# 문자열

In [ ]:
# 021 문자열 인덱싱
letters = 'python'
print(letters[0],letters[2])

In [ ]:
# 022 문자열 슬라이싱
license_plate = "24가 2210"
print(license_plate[-4:])

In [ ]:
# 021 문자열 인덱싱 - 홀수번째

# 시작인덱스:끝인덱스:오프셋(얼만큼떨어질거냐)
string = "홀짝홀짝홀짝"
print(string[::2])

In [ ]:
# 024 문자열 슬라이싱 - 거꾸로
string = 'PYTHON'
print(string[::-1])

In [ ]:
# 025 문자열 치환
phone_number = "010-1111-2222"
print(phone_number.replace("-"," "))

In [ ]:
# 026 문자열 다루기
phone_number = "010-1111-2222"
print(phone_number.replace("-",""))

In [ ]:
# 027 문자열 다루기
url = "http://sharebook.kr"
print(url[-2:]) # 슬라이싱 이용
url_split = url.split(".")
print(url_split[1]) # split 이용

In [ ]:
# 028 문자열은 immutable
lang = 'python'
lang[0] = 'p'
print(lang)
# 문자열은 할당매서드를 지원하지 않으므로 수정 할 수 없음.

In [ ]:
# 029 replace 메서드
string = 'abcdfe2a354a32a'

print(string.replace("a","A"))

In [ ]:
# 030 replace 메서드
string = 'abcd'
string.replace('b','B')
print(string)

In [ ]:
# 031 문자열 합치기
a = "3"
b = "4"
print(a+b, type(a+b))

In [ ]:
# 032 문자열 곱하기
print("Hi"*3)

In [ ]:
# 033 문자열 곱하기
print("-" * 80)

In [ ]:
# 034 문자열 곱하기
t1 = 'python'
t2 = 'java'
print((" "+ t1 + " " + t2)*4)

In [ ]:
# 35 문자열 출력
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름 : %s 나이 : %d" % (name1, age1))
print("이름 : %s 나이 : %d" % (name2, age2))

In [ ]:
# 036 문자열 출력
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름 : {} 나이 : {}'.format(name1,age1))
print('이름 : {} 나이 : {}'.format(name2,age2))

In [ ]:
# 037 문자열 출력
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f'이름 : {name1} 나이 : {age1}')
print(f'이름 : {name2} 나이 : {age2}')

In [ ]:
# 038 컴마 제거하기
상장주식주 = "5,969,782,550"
제거 = int(상장주식주.replace(",",""))
print(제거, type(제거))

In [ ]:
# 039 문자열 슬라이싱
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

In [ ]:
# 040 strip 메서드
data = "   삼성전자   "
data2 = data.strip()
print(data, len(data))
print(data2, len(data2))

In [ ]:
# 041 upper 메서드
ticker = "btc_krw"
print(ticker.upper())

In [ ]:
# 042 lower 메서드
ticker = "BTC_KRW"
print(ticker.lower())

In [ ]:
# 043 capitalize 메서드
string  = "hello"
print(string.capitalize())

In [ ]:
# 044 endswith 메서드
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

In [ ]:
# 045 endswith 메서드
file_name = "보고서.xlsx"
file_name.endswith(("xlsx","xls")) # 끝자리가 xlsx 또는 xls로 끝나는지 확인

In [ ]:
# 046 startswith 메서드
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

In [ ]:
# 047 split 메서드
a = "hello world"
a.split() # 공백을 기준으로 나누기

In [ ]:
# 048 split 메서드
ticker = "btc_krw"
ticker.split("_")

In [ ]:
# 049 split 메서드
date = "2020-05-01"
year = date.split("-")[0]
month = date.split("-")[1]
day = date.split("-")[2]
print(year, month, day)

In [ ]:
# 050 rstrip 메서드
data = "039490     "
data.rstrip()

# 리스트

In [ ]:
# 051 리스트 생성
영화 = ['닥터 스트레인지', '스플릿', '럭키']
영화

In [ ]:
# 052 리스트에 원소 추가
영화.append('배트맨')
영화

In [ ]:
# 053 insert 
영화.insert(1,"슈퍼맨")
영화

In [ ]:
# 054
영화.remove('럭키')
영화

In [ ]:
# 055
del 영화[2]
del 영화[2]
영화

In [ ]:
# 056
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
langs

In [ ]:
# 057
nums = [1,2,3,4,5,6,7]
print(max(nums))
print(min(nums))

In [ ]:
# 058
nums = [1,2,3,4,5]
print(sum(nums))

In [ ]:
# 059 리스트에 저장된 데이터 개수 구하기
cook = ["피자", "김밥", "만두", "양념치킨", "족발", 
        "피자", "김치만두", "쫄면", "소시지", "라면",
        "팥빙수", "김치전"]

print(len(cook))

In [ ]:
# 060 리스트의 평균
nums = [1, 2, 3, 4, 5]
average = sum(nums)/len(nums)
print(average)

In [ ]:
# 061
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

In [ ]:
# 062 홀수번째 출력
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

In [ ]:
# 063
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

In [ ]:
# 064
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

In [ ]:
# 065
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

In [ ]:
# 066 join 메서드
interest = ['삼성전자', 'LG전자', 'Naver','SK하이닉스', '미래에셋대우']
print(" ".join(interest))

In [ ]:
# 067 join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

In [ ]:
# 068 join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

In [ ]:
# 069 문자열 split 메서드
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

In [ ]:
# 070 리스트 정렬
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

# 튜플

In [ ]:
# 071 튜플만들기
my_variable = ()
print(my_variable, type(my_variable))

In [ ]:
# 072
move_name = ('닥터 스트레인지','스플릿','럭키')
print(move_name, type(move_name))

In [ ]:
# 073
num = (1,)
string = ("가",)
print(num, type(num)) # 하나의 데이터가 저장되는 경우 , 입력해야 tuple로 인식
print(string, type(string))

In [ ]:
# 074 튜플은 원소값을 변경할 수 없다.
t = (1, 2, 3)
t[0] = 'a'

In [ ]:
# 075 데이터를 그냥 저장하면 일반적으로 튜플로 인식
t = 1, 2, 3, 4
print(type(t))

In [ ]:
# 076 튜플은 값을 변경 불가 -> 새로 생성
t = ('a', 'b', 'c')
t = ('A','b','c')

In [ ]:
# 077 튜플을 리스트로 변경
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
print(data, type(data))

In [ ]:
# 078
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
print(data, type(data))

In [ ]:
# 079 튜플 언팩킹
temp = ('apple', 'banana', 'cake')
a, b, c = temp # 값과 변수의 개수가 맞아야 한다.
print(a, b, c)

In [ ]:
# 080 range 함수
data = tuple(range(2, 100,2))
print(data)

# 딕셔너리

In [ ]:
# 081 별 표현식 / 변수의 개수에 맞춰서 값이 할당됨
a, b, *c = (0, 1, 2, 3, 4, 5)
print(a)
print(b)
print(c)

In [ ]:
# 082 별 표현식
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7,
          9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores

print(a)
print(b)
print(valid_score)

In [ ]:
# 083
scores = [8.8, 8.9, 8.7, 9.2, 9.3,
          9.7, 9.9, 9.5, 7.8, 9.4]

a, *valid_score, c = scores
print(a)
print(valid_score)
print(c)

In [ ]:
# 084 딕셔너리 생성
temp = {}
print(type(temp))

In [ ]:
# 085 딕셔너리 만들기
ice = {'메로나':1000,'폴라포':1200, '빵빠레':1800}
print(ice)

In [ ]:
# 086 딕셔너리에 값 추가하기
ice['조스바'] = 1200
ice['월드콘'] = 1500
print(ice)

In [ ]:
# 087 딕셔너리 출력하기
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print('메로나 가격 : ',ice['메로나'])

In [ ]:
# 088
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice['메로나'] = 1300 # 메로나 가격 수정
print(ice)

In [ ]:
# 089
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice['메로나'] # 메로나 삭제
print(ice)

In [ ]:
# 090 에러가 나는 유형
>> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
>> icecream['누가바'] # 없는 키를 이용하여 인덱싱 했기 때문

In [ ]:
# 091 딕셔너리 생성 with 리스트
ice = {'메로나':[300,200], '비비빅':[400,3], '죠스바':[250,100]}
print(ice)

In [ ]:
# 092 딕셔너리 인덱싱
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory['메로나'][0])

In [ ]:
# 093 딕셔너리 인덱싱
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory['메로나'][1])

In [ ]:
# 094 딕셔너리 추가
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory['월드콘'] = [500,70]
inventory

In [ ]:
# 095 딕셔너리 keys() 메서드
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ice_list = list(icecream.keys())
ice_list

In [ ]:
# 096 딕셔너리 values() 메서드
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice_list = list(icecream.values())
ice_list

In [ ]:
# 097 딕셔너리 values() 메서드
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice_sum = sum(icecream.values())
ice_sum

In [ ]:
# 098 딕셔너리 update 메서드
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
icecream

In [ ]:
# 099 zip과 dict 
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys,vals))
result

In [ ]:
# 100 zip과 dict2
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
result = dict(zip(date,close_price))
result

# 분기문

In [ ]:
# 101
# 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?
# bool 타입

In [ ]:
# 102 아래 코드의 출력 결과를 예상하라
print(3 == 5)

In [ ]:
# 103 아래 코드의 출력 결과를 예상하라
print(3 < 5)

In [ ]:
# 104 아래 코드의 결과를 예상하라
x = 4
print(1 < x < 5)

In [ ]:
# 105 아래 코드의 결과를 예상하라.
print ((3 == 3) and (4 != 3))

In [ ]:
# 106 아래 코드에서 에러가 발생하는 원인에 대해 설명하라.
print(3 => 4)
# 문법이 잘못 되어서 print(3 >= 4)

In [ ]:
# 107 아래 코드의 출력 결과를 예상하라
if 4 < 3:
    print("Hello World")

In [ ]:
# 108
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

In [ ]:
# 109 아래 코드의 출력 결과를 예상하라
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

In [ ]:
# 110 아래 코드의 출력 결과를 예상하라
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

In [ ]:
# 111
print(input()*2)

In [ ]:
# 112
user_input = int(input("숫자를 입력하세요 : "))
print(user_input + 10)

In [ ]:
# 113
user_input = int(input())
if user_input % 2 == 0:
    print("짝수")
else:
    print("홀수")

In [ ]:
# 114
user_input = int(input("입력값 : "))
if user_input > 255:
    print(255)
else:
    print(user_input+20)

In [ ]:
# 115
user_input = int(input("입력값 : "))
if user_input > 255:
    print(255)
elif user_input < 0:
    print(0)    
else:
    print(user_input-20)

In [ ]:
# 116
time = input('현재시간 : ')
if time[-2:] != "00":
    print('정각이 아닙니다.')
else:
    print('정각 입니다.')

In [ ]:
# 117
fruit = ['사과', '포도','홍시']
user_input = input('좋아하는 과일은?')

if user_input in fruit:
    print('정답입니다.')
else:
    print('땡입니다.')

In [ ]:
# 118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
investment = input("종목명")
if investment in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

In [ ]:
# 119 키값이 포함된 경우
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user_input = input("입력하세요")
if user_input in fruit.keys():
    print('정답입니다.')
else :
    print('땡')

In [ ]:
# 120 value값이 포함된 경우
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user_input = input("좋아하는 과일은?")
if user_input in fruit.values():
    print('정답입니다.')
else :
    print('땡')

In [ ]:
# 121 islower
user_input = input('문자 한개를 입력하세요')
if user_input.islower():
    print(user_input.upper())
else:
    print(user_input.lower())

In [ ]:
# 122
user_input = int(input('점수를 입력하세요'))
if 81 <= user_input <= 100:
    print("A")
elif 61 <= user_input <= 80:
    print("B")
elif 41 <= user_input <= 60:
    print("C")
elif 21 <= user_input <= 40:
    print("D")
elif 0 <= user_input <= 20:
    print("E")
    
else:
    print('재시험입니다.')

In [ ]:
# 123 
환율 = {'달러':1167,'앤':1.096,'유로':1268,'위안':171}
user_input = input('입력 : ')
cur, num = user_input.split()

print(int(num)*환율[cur],"원")

In [ ]:
# 124 세 개의 숫자 입력받아 가장 큰수 출력
user_num1 = int(input('숫자입력하세요'))
user_num2 = int(input('숫자입력하세요'))
user_num3 = int(input('숫자입력하세요'))
print(max(user_num1,user_num2,user_num3))

In [ ]:
# 125
data = {'011':'SKT','016':'KT','019':'LGU','010':"알수없음"}
user_input = input()
front, middle, end = user_input.split("-")
print(data[front])

In [ ]:
# 126
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

In [ ]:
# 127
user_input = input("주민등록번호 : ")
gender = user_input.split("-")[1]
if gender[0] == "1":
    print('남자')
else:
    print('여자')

In [ ]:
# 128 
user_input = input("주민등록번호 : ")
locode = user_input.split("-")[1]
if 0 <= int(locode[1:3]) <= 8:
    print('서울입니다.')
else:
    print('서울이 아닙니다.')

In [ ]:
# 129 주민등록번호 검증 프로그램

user_input_data = input('주민등록번호 : ')
user_input = user_input_data.replace("-","")
user_sum = int(user_input[0])*2 + int(user_input[1])*3 + int(user_input[2])*4 + int(user_input[3])*5 + \
int(user_input[4])*6 + int(user_input[5])*7 + int(user_input[6])*8 + int(user_input[7])*9 + \
int(user_input[8])*2 + int(user_input[9])*3 + int(user_input[10])*4 + int(user_input[11])*5
check = 11- (user_sum % 11)

if check == int(user_input_data[-1]):
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

In [ ]:
# 130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
변동폭 = int(btc['max_price']) - int(btc['min_price'])
시가 = int(btc['opening_price'])
if 시가 + 변동폭 > int(btc['max_price']):
    print('상승장')
else:
    print('하락장')

# 반복문

In [ ]:
# 131 for문의 실행결과를 예측하라.
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

In [ ]:
# 132 for문의 실행결과를 예측하라.
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")

In [ ]:
# 133
data = ["A","B","C"]
print(data[0])
print(data[1])
print(data[2])

In [ ]:
# 134
data = ["A","B","C"]
print("츨력:", data[0])
print("츨력:", data[1])
print("츨력:", data[2])

In [ ]:
# 135
data = ["A","B","C"]
print("츨력:", data[0].lower())
print("츨력:", data[1].lower())
print("츨력:", data[2].lower())

In [ ]:
# 136
data = 10,20,30
for _ in data:
    print(_)

In [ ]:
# 137
for _ in 10,20,30:
    print(_)

In [ ]:
# 138
for _ in 10,20,30:
    print(_)
    print("------")

In [ ]:
# 139
print("++++")
for _ in 10,20,30:    
    print(_)

In [ ]:
# 140
for _ in range(1,5):
    print("-------")

In [ ]:
# 141
리스트 = [100,200,300]
for _ in 리스트:
    print(_ + 10)

In [ ]:
# 142
리스트 = ["김밥", "라면", "튀김"]
for _ in 리스트:
    print("오늘의 메뉴 : ",_)

In [ ]:
# 143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for _ in 리스트:
    print(len(_))

In [ ]:
# 144
리스트 = ['dog', 'cat', 'parrot']
for _ in 리스트:
    print(_, len(_))

In [ ]:
# 145
리스트 = ['dog', 'cat', 'parrot']
for _ in 리스트:
    print(_[0])

In [ ]:
# 146
리스트 = [1, 2, 3]
for _ in 리스트:
    print("3 x",str(_))

In [ ]:
# 147
리스트 = [1, 2, 3]
for _ in 리스트:
    print("3 x {} = {}".format(_, 3*_))

In [ ]:
# 148
리스트 = ["가","나","다","라"]
for _ in 리스트[1:]:
    print(_)

In [ ]:
# 149
리스트 = ["가","나","다","라"]
for _ in 리스트[::2]:
    print(_)

In [ ]:
# 150
리스트 = ["가","나","다","라"]
for _ in 리스트[::-1]:
    print(_)

In [ ]:
# 132

In [ ]:
# 151
리스트 = [3, -20, -3, 44]
for _ in 리스트:
    if _ < 0:
        print(_)

In [ ]:
# 152
리스트 = [3,100,23,44]
for _ in 리스트:
    if _ % 3 == 0:
        print(_)

In [ ]:
# 153
리스트 = [13, 21, 12, 14, 30, 18]
for _ in 리스트:
    if _ % 3 == 0 and _<20:
        print(_)

In [ ]:
# 154
리스트 = ["I", "study", "python", "language", "!"]
for _ in 리스트:
    if len(_) >= 3:
        print(_)

In [ ]:
# 155
리스트 = ["A", "b", "c", "D"]
for _ in 리스트:
    if _.isupper():
        print(_)

In [ ]:
# 156
리스트 = ["A", "b", "c", "D"]
for _ in 리스트:
    if _.islower():
        print(_)

In [ ]:
# 157
리스트 = ['dog', 'cat', 'parrot']
for _ in 리스트:
    print(_.capitalize())

In [ ]:
# 158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for _ in 리스트:
    print(_.split(".")[0])

In [ ]:
# 159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for _ in 리스트:
    if _.split(".")[1] == "h":
        print(_)

In [ ]:
# 160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for _ in 리스트:
    if _.split(".")[1] == "h" or _.split(".")[1] == "c":
        print(_)

In [ ]:
# 161
for _ in range(100):
    print(_)

In [ ]:
# 162
# for _ in range(2002,2051)[::4]:
for _ in range(2002,2051,4):
    print(_)

In [ ]:
# 163
for _ in range(1,31):
    if _ % 3 == 0:
        print(_)

In [ ]:
# 164
# for _ in range(0,100)[::-1]:
for _ in range(100):
    print(99-_)

In [ ]:
# 165
for _ in range(1,10):
    print(_/10)

In [ ]:
# 166
for _ in range(1,10):
    print("3x{} = {}".format(_,_*3))

In [ ]:
# 167
for _ in range(1,10,2):
    print("3x{} = {}".format(_,_*3))

In [ ]:
# 168
num = 0
for _ in range(1,11):
    num += _
print("합:",num)

In [ ]:
# 169
num = 0
for _ in range(1,11,2):
    num += _
print("합:",num)

In [ ]:
# 170
num = 1
for _ in range(1,11):
    num *= _
print(num)

In [ ]:
# 171
price_list = [32100, 32150, 32000, 32500]
for _ in price_list:
    print(_)

In [ ]:
# 172
price_list = [32100, 32150, 32000, 32500]
for i, _ in enumerate(price_list):
    print(i, _)

In [ ]:
# 173
price_list = [32100, 32150, 32000, 32500]
for i,_ in enumerate(price_list):
    print((len(price_list)-1)-i, _)

In [ ]:
# 174
price_list = [32100, 32150, 32000, 32500]
for i in range(1,4):
    print(90 + 10*i, price_list[i])

In [ ]:
# 175
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[i], my_list[i+1])

In [ ]:
# 176
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1],my_list[i+2])

In [ ]:
# 177
my_list = ["가", "나", "다", "라"]
for i in range(1,len(my_list)):
    print(my_list[(len(my_list)-i)],my_list[(len(my_list)-i-1)])

In [ ]:
# 178 abs 절대값 함수
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
    print(abs(my_list[i+1]-my_list[i]))

In [ ]:
# 179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
    print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

In [ ]:
# 180
volatility = []
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
for i in range(0,5):
    volatility.append(high_prices[i]-low_prices[i])
volatility

In [ ]:
# 181
f_fl = ['101호','102호']
s_fl = ['201호','202호']
t_fl = ['301호','302호']
apart = [f_fl,s_fl,t_fl]
print(apart,type(apart))

In [ ]:
# 182
시가 = [100,200,300]
종가 = [80,210,330]
stock = [시가,종가]
stock

In [ ]:
# 183
stock = {"시가":[100,200,300], "종가":[80,210,330]}
stock

In [ ]:
# 184
stock = {'10/10':[80,110,70,90],'10/11':[210,230,190,200]}
stock

In [ ]:
# 185 2중 for문
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")

In [ ]:
# 186
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row:
        print(col,"호")

In [ ]:
# 187
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row[::-1]:
        print(col,"호")

In [ ]:
# 188
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col,"호")
        print("------")

In [ ]:
# 189
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:    
        print(col, "호")
    print("------")

In [ ]:
# 190
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row: 
        print(col,"호")
print("-----")

In [ ]:
# 191
#open/high/low/close
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for row in data:
    for col in row:
        print(col*1.00014)

In [ ]:
# 192
#open/high/low/close
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for row in data:
    for col in row:
        print(col*1.00014)
    print("----")

In [ ]:
# 193
#open/high/low/close
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []
for row in data:
    for col in row:
        result.append(col*1.00014)
result

In [ ]:
# 194
#open/high/low/close
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []
for row in data:
    sub = [] # 다시 초기화 시켜줌 
    for col in row:
        sub.append(col*1.00014)   
    result.append(sub)
print(result)

In [ ]:
# 195
# 종가 데이터만 출력
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:    
    print(row[3])

In [ ]:
# 196 종가가 150보다 큰경우만 출력
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:    
    if row[3] > 150:
        print(row[3])

In [ ]:
# 197 종가가 시가보다 크거나 같은 경우에만 종가 출력
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:    
    if row[3] >= row[0]:
        print(row[3])

In [ ]:
# 198 고가와 저가의 차이를 변동폭이라 할 때, 변동폭을 리스트에 저장하라
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for row in ohlc[1:]:    
    volatility.append(row[1] - row[2])
volatility

In [ ]:
# 199 종가가 시가보다 높은날의 변동성을 출력하라
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:   
    if row[3] > row[0]:
        print(row[1]-row[2])

In [ ]:
# 200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 수익금 = close - open
profit = 0
for row in ohlc[1:]:
    profit += (row[0]-row[3])
profit

# 함수

In [ ]:
# 201
#"비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.
def print_coin():
    print('비트코인')

In [ ]:
# 202 201번에서 정의한 함수를 호출하라.
print_coin()

In [ ]:
# 203
for i in range(100):
    print_coin()

In [ ]:
# 204 "비트코인" 문자열을 100번 화면에 출력하는 print_coins() 함수를 정의하라.
def print_coins():
    for i in range(100):
        print('비트코인')
print_coins()

In [ ]:
# 205 아래의 에러가 발생하는 이유에 대해 설명하라.
hello()
def hello():
    print("Hi
# 함수가 정의되기 전에 호출되어서

In [ ]:
# 206 아래 코드의 실행 결과를 예측하라.
def message() :
    print("A")
    print("B")

message()
print("C")
message()

In [ ]:
# 207 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)
print("A")

def message() :
    print("B")

print("C")
message()

In [ ]:
# 208 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

In [ ]:
# 209 아래 코드의 실행 결과를 예측하라.
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

In [ ]:
# 210 아래 코드의 실행 결과를 예측하라.
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

In [ ]:
# 211 함수의 호출 결과를 예측하라.
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

In [ ]:
# 212 함수의 호출 결과를 예측하라.
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

In [ ]:
# 213 아래와 같은 에러가 발생하는 원인을 설명하라.
def 함수(문자열) :
    print(문자열)
함수()
# 함수에 정의와 다르게 함수를 호출하고 있다.
#함수를 호출할 때 하나의 파라미터를 입력해야한다.

In [ ]:
# 214 아래와 같은 에러가 발생하는 원인을 설명하라.
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
# 정의된 함수는 같은 타입의 두 개의 값을 입력 받아 덧셈 연산을 적용하려는 의도로 설계됐습니다.
# 하지만 함수를 호출 할때 문자열과 숫자를 입력해서 문자열과 숫자는 더할 수 없다는 에러가 발생합니다.

In [1]:
# 215 하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 
# 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

def print_with_smile(변수):
    print(변수 + ":D")

print_with_smile("바보")

바보:D

In [2]:
# 216 - 215에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.
print_with_smile("안녕하세요")

안녕하세요:D

In [3]:
# 217 현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.
def print_upper_price(현재가격):
    print(현재가격*1.3)
print_upper_price(3000)

3900.0

In [7]:
# 218 두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.
def print_sum(a,b):
    print(a+b)
print_sum(1,5)

6

In [9]:
# 219 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라
def print_arithmetic_operation(a,b):
    print(f'a+b = {a+b}')
    print(f'a-b = {a-b}')
    print(f'a*b = {a*b}')
    print(f'a/b = {a/b}')
print_arithmetic_operation(12,4)

a+b = 16
a-b = 8
a*b = 48
a/b = 3.0

In [17]:
# 220 세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.
def print_max(a,b,c):
    max_val = 0
    if a > max_val :
        max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    print(max_val)
         
print_max(1,2,5)

5

In [19]:
# 221 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.
def print_reverse(string):
    print(string[::-1])
print_reverse("python")

nohtyp

In [28]:
# 222 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.
def print_score(score_list):
    print(sum(score_list)/len(score_list))
print_score([1,2,3,4,5])

3.0

In [31]:
# 223 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.
def print_even(even):
    for i in even:
        if i % 2 == 0:
            
            
            print(i)
print_even([1,2,3,4,5,6,7])

2
4
6

In [38]:
# 224 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라
def print_keys(a):
    for i in a.keys():
        print(i)
        
print_keys({"이름":"김말똥","나이":20,"성별":0})

이름
나이
성별

In [42]:
# 225
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(dict_data, date):
    print(dict_data[date])
    
print_value_by_key(my_dict,"10/27")

[10, 12, 10, 11]

In [54]:
# 226
def print_5xn(line):
    chunk_num = int(len(line) / 5)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])
           
print_5xn('가나다라마바사아자타카타파하나님')

가나다라마
바사아자타
카타파하나
님

In [93]:
# 227
def print_mxn(string, num):
    line_count = int(len(string)/num)+1
    for x in range(line_count):
        print(string[x*num:x*num+num])

print_mxn("가나다라마바사", 6)

가나다라마바
사

In [114]:
# 228
def calc_monthly_salary(annual_salary):
    monthly_pay = int(annual_salary/12)
    print(monthly_pay)

calc_monthly_salary(32005230)

2667102

In [117]:
# 229 아래 코드의 실행 결과를 예측하라
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)
# my_print(100, 200)

왼쪽: 100
오른쪽: 200

In [118]:
# 230 아래 코드의 실행 결과를 예측하라.
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

In [120]:
# 231 아래 코드를 실행한 결과를 예상하라.
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)
# 함수 내부에서 사용한 변수는 함수 밖에서는 접근이 불가능합니다.
#(문법이 그래요) 함수 내부에서 계산한 값을 전달하기 위해서는 return을 사용해야 합니다.

NameError: name 'result' is not defined

In [132]:
# 232 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.
def make_url (url):
    print(f"www.{url}.com")
make_url("daum")

www.daum.com

In [142]:
# 233 문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.
def make_list(string):
    return list(string)
#     print(list(string))
make_list("addfe")

['a', 'd', 'd', 'f', 'e']

In [169]:
# 234 숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라
def pickup_even(items):
    result = []
    for item in items:
        if item % 2 == 0:
            result.append(item)
    return result
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [172]:
# 235 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.
def conert_int(num):
    num = num.replace(",","")
    print(int(num))
    
conert_int("1,234,567")

1234567

In [177]:
# 236 아래 코드의 실행 결과를 예측하라.
def 함수(num) :
    return num + 4

a = 함수(10) # 14
b = 함수(a) # 18
c = 함수(b) # 22
print(c) # 22

22

In [178]:
# 237 아래 코드의 실행 결과를 예측하라.
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [179]:
# 238 아래 코드의 실행 결과를 예측하라.
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [180]:
# 239 아래 코드의 실행 결과를 예측하라.
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [181]:
# 240 아래 코드의 실행 결과를 예측하라.
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28

# 모듈

# 클래스

# 입출력과 예외처리